body { 
background-color: #BA2828;
 }

 h1 {color:white;
 	font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  text-align: center;
  margin-top: 100px;

 }
 body {color:white;
 	font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  text-align: center;
  margin-top: -50px;

 }
 .juxtapose {width: 700px; 
 	height: 700px;
    margin-bottom: -200px;}
.timeline {margin-top: 20px}