body { 
background-color: #BA2828;
 }

 h1 {color:white;
 	font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  text-align: center;

 }
 body {color:white;
 	font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  text-align: center;

 }
 juxtapose {width: 50%; 
 	height: 50%}